/* Add some basic styling to the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

/* Style the login form */

h2{
    text-align: center;
}

form {
    width: 300px;
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin : 5px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

form button[type="submit"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}
